body {
    width: 1040px;
    padding: 0 0 20px;
    margin: auto;
    font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman", Times, serif;
    font-size: 100%;
    line-height: 1.2;
    background: white url("/media/css/images/cardboard.jpg") 25% 25%;
}

div#outer-wrapper {
    border-width:0px;
    padding-top: 375px;
    background: url("/media/css/images/castlebanner1040.jpg") no-repeat;
    box-shadow: 2px 2px 8px 4px rgba(6,6,6,.5);
    opacity: 1;
}

div#inner-wrapper {
    background: #fff url("/media/css/images/ricepaper.jpg") top center;
    padding: 0 40px 20px;
    opacity: 1;
}


ul.menu {
    background: black;
    margin: 0 -40px 20px;
    padding: 10px 40px;
    font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
}

ul.menu li  {margin-left: 0; background: black;}
ul.menu ul li {padding-left: 1em;}

ul.menu li.menu_item a	{
    font-weight: 500;
	text-decoration: none;
	border: none;
	margin: 0;
	padding: 0;
	color: white;
	}

ul.menu li.menu_item a:hover {border-bottom: 1px solid white;}

ul.menu ul ul li {
}

ul.menu ul ul li {
	padding-top: 8px;
	border-top: 1px solid white;
    background: #333;
    padding-left: 0;
}



p {padding: .25em 0;}
ul, ol  {list-style: square;}
li  {margin-left: 1em; padding: .25em 0}

h1, h2, h3, h4, h5, h6 {font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;}

h1 {
    font-size: 200%;
    padding: 0 0 15px;
}

h2  {
    font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
}

h3  {
    padding-top: 10px;
    font-weight: bold;
    color: #a93125;
    }

h4  {
    font-weight: bold;
    font-size: 90%;
    }

h5  {
    font-weight: bold;
    font-size: 80%;
    }

h6  {
    font-weight: bold;
    font-size: 70%;
    }

a:link, a:visited  {font-weight: bold; color: #a93125;}
a:link:hover, a:visited:hover  {font-weight: bold; color: black;}

.imageset .image-title  {
    font-family: "Helvetica Neue", Helvetica, Geneva, sans-serif;
    font-weight: 200;
    text-transform: none;
}

.shadowed .anythingSlider,
.shadowed ul.imageset.multiple li a,
.shadowed span.imageset.image img  {
  box-shadow:   2px 2px 8px 2px rgba(4,4,4,0.5);
    }

.date {font-style: italic;}

p.standout,
p.subtitle
    {
    font-size:177%;
    font-weight: normal;
    line-height: 1.5;
    font-family:"Hoefler Text", "Didot", Georgia, serif;
    padding-right:25px;
    margin-left:0;
    margin-top:.0em;
    }

p.standout:first-line,
p.subtitle:first-line {
    color: #a93125;
}


.larger    {font-size: 130%;}
.border-top {border-top: 1px solid #ccc;}
.paper {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background: url("/media/css/images/paper.jpg");
    box-shadow:   2px 2px 8px 2px rgba(4,4,4,0.5);
}

div.footer {
    text-align: center;
    background:#f8f8f8;
    padding: 8px 40px;
    border-top: 1px solid gray;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 75%;
    }

div.footer a {text-decoration: none;}

div.footer .caps {font-size: 100%;}

.filterline {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
}

.filterline .choice-count {
    font-weight: lighter;
    color: #bbb;
}

.removefilter a:link,
.removefilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #113399;
    background-color: #113399;
    color: white;
}

.addfilter a:link,
.addfilter a:visited {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #a93125;
    background-color: #a93125;
    color: white;
}

/* :hover come after to override */
.addfilter a:hover,
.removefilter a:hover {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #3355bb;
    background-color: #3355bb;
    color: white;
}

.displayfilter {
    border-radius: 4px;
    padding: 0px 1px 2px 3px;
    border: 1px solid #aaa;
    background-color: #aaa;
    color: black;
}
