{% extends "arkestra.html" %}
{% load typogrify_tags %}

{% block site_styles %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/djangoweekend.css" />
{% endblock site_styles %}

{% block body_content %}
    {% with placeholder_width=960 sidebar_image_size="294x294" generic_main_width=627 %}
        {{ block.super }}
    {% endwith %}
{% endblock body_content %}

{% block pagetitle %}{% endblock pagetitle %}

{% block post_body_scripts %}
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4662872-4', 'djangoweekend.org');
      ga('send', 'pageview');
</script>
{% endblock post_body_scripts  %}

